.leftsidebar {
    width: 244px;
    background-color: #161616;
    padding: 20px;
}
.newpress {
    display: flex;
    gap: 32px;
    flex-direction: column;
    margin-top: 32px;
}
.newpress .user {
    border-top: 1px solid #282F2D;
    border-bottom: 1px solid #282F2D;
    display: flex;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    justify-content: space-between;
        padding: 16px 0 16px 10px;
}
.user_details .user_data h2 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    text-align: left;
    color: #fff;
}
.user_details .user_data h3 {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: #fff;
}
.user_details .user_data {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.user_details {
    display: flex;
    gap: 10px;
    align-items: center;
    align-content: center;
    vertical-align: middle;
}
.user_img img {
    object-fit: cover;
    border-radius: 4px;
}
.menus > ul {
    display: flex;
    gap: 14px;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menus > ul > li a {
    gap: 8px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #B8B8B8;
    padding: 6px 8px 6px 8px;
    border-radius: 6px;
    cursor: pointer;
}
.menus > ul > li {
    width: 100%;
    position: relative;
}
.menus > ul > li .icon svg {
    display: block;
}
.menus > ul > li.active {
    background-color: #6A6A6A24;
        color: #fff;
}
.menus > ul > li span.toggle_icon {
    position: absolute;
    right: 8px;
    top: 6px;
}
.menus > ul > li > a:hover, .menus > ul > li .main_menu > a:hover {
    background-color: #6A6A6A24;
}
.menus > ul > li > a, .main_menu a {
    display: flex;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    gap: 8px;
}
.menus span.count_num {
    width: 21px;
    height: 22px;
    padding: 4px 0px 0px 0px;
    border-radius: 5px;
    background-color: #6A6A6A24;
    font-family: Inter;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
}
.menus .submenu li {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #B8B8B8;
    list-style-type: none;
}
.menus ul.list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menus > ul > li span.icon {
    width: 20px;
}
.menus .submenu {
    margin-left: 36px;
    margin-top: 8px;
    margin-bottom: 8px;
}
span.close_icon svg {
    width: 24px;
    height: 24px;
}
span.close_icon {
    position: fixed;
    right: 5%;
    top: 36px;
    z-index: 100;
    background-color: #ffffff;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    display: none;
    align-items: center;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
}



@media(max-width: 767px){
.leftsidebar {
    width: 0;
    background-color: #161616;
    padding: 0px;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: width 0.3s;
}
span.humberger_icon {
    position: absolute;
    right: 0;
    top: 13px;
}
span.humberger_icon svg {
    display: block;
}      
body.menu_active .leftsidebar {
    width: 80%;
    opacity: 1;
    position: fixed;
    bottom: 0;
    top: 0;
    padding: 20px;
    z-index: 10;
    overflow: scroll;
}
body.menu_active::before {
    content: '';
    background-color: #0000008c;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 10;
}
body.menu_active span.close_icon {
    display: flex;
}
.newpress {
    gap: 22px;
    margin-top: 10px;
}
}


@media(min-width: 768px){
span.humberger_icon {
    display: none;
}
}